body {
/*  background-color: #eee;
*/  color: #111;
  margin: 0px;
  font-family: 'Droid Sans', arial, serif;
  font-size: 14px;
}

a:{
  color: #44a51c;
  text-decoration: none;
}
a:visited {
  color: #2F7213;
  text-decoration: none;
}
a:hover {
  color: #44a51c;
  text-decoration: underline;
}
a:active {
  color: #2F7213;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 200%;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 .logo {
  font-size: 200%;
  font-weight: bold;
  margin: 0px;
}

h1 .green {
  color: #80C342;
}


h1 .subtitle {
  padding-left: 12px;
}

.container {
  margin-bottom: 18px;
  width:100%;
  /*background-color: #f8f8f8;*/
  /*-webkit-box-shadow: 0px 6px 15px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 6px 15px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 6px 15px rgba(50, 50, 50, 0.6);*/
}

.header {
  width:100%;
  background-color: #eee;
  -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.5);
}

.logo {
  float: left;
  margin: 5px;
  margin-left: 30px;
}

.menu {
  margin-right: 20px;
  margin-top: 50px;
  padding: 0px;
  text-align: right;
  float: right;
}

.menu ul {
  list-style-type: none;
}

.search {
  width: 250px;
}

.menu_items {
  color: white;
}

.menu_items a {
  color: white;
}

.content {
  padding-top: 10px;
}

.code {
  background-color: #111;
  color: #eee;
  padding: 10px;
  font-family: monospace;
  margin: 6px;
}

.release-date {
  font-size: 80%;
  margin-left: 5px;
  margin-right: 5px;
}

.old-versions {
  font-size: 80%;
}

.library-short-meta-data {
  font-style: italic;
}

td {
  vertical-align: top;
  padding-left: 16px;
}

.footer {
  float: right;
  font-size: 80%;
  font-style: italic;
}

.edit-link {
  float: right;
  font-size: 80%;
}

.legal {
  margin: 12px;
  text-align: center;
  font-size: 70%;
}

.attribute {
  margin: 8px;
}

.attribute .label {
  display: inline;
  color: #555;
  width: 120px;
  text-align: right;
  float: left;
  margin-right: 8px;
}

.attribute .value {
  display: inline;
}

.main_pane{
  /*background-color: #eee;*/
  width: 78.5%;
  padding-left: 5px;
  margin-top: -300px;
  margin-left: 0px;
  float: right;
  margin-right: 5px;
}

.sidebar{  
  width: 19%;   
} 

.intro{
  width: 100%;
  background-color: #eee;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  text-align: justify;  
}

.latest{
  width: 100%;
  background-color: #eee;
  float: left;
  padding-left: 10px;
  padding-right: 10px; 
  margin-bottom: 5px; 
}

.filters{
  width: 100%;
  background-color: #eee;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;  
}

.topics{
  width: 59%;
  float: left;
  padding-left: 0px
  font-size: 14px;
}

.platforms{
  width: 38%;
  float: right;
  padding-left: 5px
  font-size: 14px;
}

.licenses{
  width: 38%;
  float: right;
  padding-left: 5px
  font-size: 14px;
}

.box{  
  background-color: #a9a9a9;
  width: 104.2%;
  margin-left: -10px;
  padding-left: 10px;
  margin-top: -16px;
}

i{
  font-size: 40px;
  /*text-shadow: 1px 1px 1px #000000;*/
}

tr:nth-child(even) {
  background-color: #eee;
}

/*ti{
  background-color: #47d147;
}*/

td.name{
  width: 140px;
  padding-left: 5px;
}

td.summary{
  width: 380px;
  padding-left: 5px;
}

td.platforms{
  width: 90px;
  padding-left: 5px;
}

td.topics{
  font-size: 13px;
  width: 200px;
  padding-left: 5px;
}

td.licenses{
  font-size: 13px;
  width: 170px;
  padding-left: 5px;
}

rd{
  float:right;
}

mini{
  font-size: 10px;
}

